@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.sidebar-submenu {
  padding-left: 5px;
  font-size: 0.9rem;
}
.sidebutton {
  float: left;
  color: #f1f1f1;
  z-index: 1;
  left: 0;
  top: 61px;
  background-color: #343a40 !important;
}
.sidenav {
  width: 85%;
  z-index: 1;
  left: 0;
  top: 61px;
  background-color: #343a40 !important;
  float: left;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #7f7f7f;
}

ul.side-nav {
  list-style-type: none;
  padding-left: 10px;
}
