.mainContainer {
  display: flex;
  flex-flow: row;
}

.sideBarMenu {
  width: 280px;
}

.sideBarButton {
  float: left;
  color: #f1f1f1;
  z-index: 1;
  left: 0;
  top: 61px;
  background-color: #0077b3 !important;
}

.collapse-button {
  position: relative;
}
